src/packages/**/node_modules
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_modern
.rts2_cache_umd

.git
.next
.vscode
coverage
dist
docker
docs
internal
node_modules
storage/bitnami
storage/certbot
storage/shared
tests

Dockerfile
.dockerignore
.gitignore
.editorconfig
.env
.env.example
jest.config.js
.prettierignore
.prettierrc
.stylelintrc
README.md
docker-compose.yml
npm-debug.log


